!!!
%html
  %head
    %meta{:content => 'text/html; charset=>UTF-8',
    'http-equiv' => 'Content-Type'}
    %body
      %p
        Data Validation job failed; No records available for 'data_validation' process on #{@data_date}.
      %p
        Thank you
        %br
        Job Monitoring Agent 

