!!!
%html
  %head
    %meta{:content => 'text/html; charset=>UTF-8',
    'http-equiv' => 'Content-Type'}
    %body
      %p
        Pipeline Log Weekly job failed; No records available for Trending_Items process on week #{@week}, year #{@year}.

      %p
        Thank you
        %br
        Job Monitoring Agent 

