!!!
%html
  %head
    %meta{:content => 'text/html; charset=>UTF-8',
    'http-equiv' => 'Content-Type'}
    %body
      %p
        Pipeline Log Daily job failed; No records available for Query_Categorization_Daily process on #{@data_date}.
      %p
        Thank you
        %br
        Job Monitoring Agent 

