ul#toggle-columns.nav.nav-pills.pull-left
  li#show-default-columns.active
    a show default columns
  li#show-all-columns
    a show all columns

#filter_row.input-prepend.input-append.filter-box
  button.btn.filter Filter
  form
    input(type="text", placeholder="Type to filter results")
  button.btn.reset Reset

