ul#toggle-columns.nav.nav-pills.pull-left
  li#show-default-columns.active
    a show default columns
  li#show-all-columns
    a show all columns
form.pull-right.cad-filter
  .input-prepend.input-append
      span.add-on
        a(href='#').filter
          i.icon-search
      input#filter-text(type='text', placeholder = "Type to filter results", value = query)
      span.add-on
        a.close.reset(href='#') ×