tr#qm-group-head-all-cols.group-header-rows
  th(colspan="2")
  th(colspan="4") Conversion
  th(colspan="4") PVR
  th(colspan="4") ATC

tr#qm-group-head-default-cols.group-header-rows
  th(colspan="2")
  th(colspan="4") Conversion
  th(colspan="1") PVR
  th(colspan="1") ATC