form.form-horizontal.cvr-dropped-query-form
  .cvr-dropped-selected-result
    .alert.alert-info.date_range_display

  .control-group
    label.control-label(for='query') Search for Query
    .controls
      input.input-xxlarge.query(type='text')

  .control-group
    label.control-label(for='date-picker') Date within (before and after)
    .controls
      select.weeks-apart-select
        each val in [1, 2, 3 ,4]
          if weeks_apart == val
            option(selected=true, value=val)
              =val + ' Week'
          else
            option(value=val)
              =val + ' Week'
      | &nbsp;
      | of
      | &nbsp;
      input.input-small.datepicker(type='text', 'data-date-format'='M d, yyyy',
        'data-date-autoclose'='true')

  .control-group
    .controls
      button.btn.search(type='submit') Search
      | &nbsp;
      button.btn.reset(type='reset') Reset 

.cvr-dropped-query-results-label
