.second-navbar{style: 'margin-bottom:1em'}
  .navbar-inner
    %ul#top-nav.nav
      %li.active.query-performance-tab
        %a{:href=>'#'}
          %span
            Query Performance

      %li.query-analysis-tab
        %a{:href=>'#'}
          %span
            Query Analysis
      
      %li.ndcg-tab
        %a{:href=>'#'} 
          %span
            NDCG
