.navbar{style: 'margin-bottom:1em'}
  .navbar-inner
    %ul#top-nav.nav
      %li.active.top
        %a{:href=>'#'} 
          %span
            Top Queries
      %li.trending
        %a{:href=>'#'}
          %span
            Trending
      %li.poor_performing
        %a{:href=>'#'}
          %span
            Poor Performing
      %li.random
        %a{:href=>'#'}
          %span
            Random
      %li.conv_dropped
        %a{:href=>'#'}
          %span
            Conversion Dropped
      %li.poor_amzn
        %a{:href=>'#'}
          %span
            Competitive Opportunities
