.navbar{style: 'margin-bottom:1em'}
  .navbar-inner
    %ul#top-nav.nav
      %li.active.top-tab
        %a{:href=>'#search/top'} 
          %span
            Top Queries
      %li.trending-tab
        %a{:href=>'#search/trending'}
          %span
            Trending
      %li.poor-performing-tab
        %a{:href=>'#search/poor_performing'}
          %span
            Poor Performing
      %li.random-tab
        %a{:href=>'#search/random'}
          %span
            Random
      %li.conv-dropped-tab
        %a{:href=>'#search/conv_dropped'}
          %span
            Conversion Dropped
