%table.table.table-bordered
  %tr
    %td.side-title
      %i.icon-briefcase
      Dashboards
  %tr
    %td
      .dashboard.side-title-item
        Saved Dashboard 1
      .dashboard.side-title-item
        Saved Dashboard 2
  %tr
    %td.side-title
      %i.icon-share-alt
      Shortcuts
  %tr
    %td
      .dashboard.side-title-item
        Shortcut 1
      .dashboard.side-title-item
        Shortcut 2


