#top-bar.top-navbar{style: 'margin-bottom:0'}
  .navbar-inner
    %a.brand.home-page{:href=>'#'}
      = image_tag 'walmart-transparent.png', {:class=>'walmart_logo'}
      CAD

    %ul.nav.top-nav
      %li.active.search-tab
        %a{:href=>'#search'}
          %span
            Search

      %li.browse-tab
        %a{:href=>'#browse'}
          Browse
      
      %li.category-tab
        %a{:href=>'#category'}
          Category

    %ul#cat-container.nav.pull-right
      %li#cat-selector.dropdown
        %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>"#"}
          %span.cat-selected
            All Departments
          %b.caret
        %ul.dropdown-menu.cat-list 

      %li.date-week-holder
      %li
        %i#dp3.icon-th{:style=>'line-height:2em; font-size:1.5em; color: white;', 'data-date-format'=>'mm-dd-yyyy'}
         
      %li.dropdown.login   
        %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>"#"}
          .logged-in-user
            Eval user
          %b.caret
        %ul.dropdown-menu 
          %li.nav-header
            Login As
          %li.divider
          %li
            %a.eval{:href=>'#'}
              Eval User
          %li
            %a.rel{:href=>'#'}
              Relevance User
      %li.dropdown   
        %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>"#"}
          %span{:style=>'font-size:1.5em;font-weight:500;color:burlywood;'}
            ?
            %b.caret
        %ul.dropdown-menu 
          %li
            %a{:href=>'/release_notes'}
              Release Notes
