.navbar
  .navbar-inner
    %a.brand.home-page{:href=>'#'}
      = image_tag 'walmart-transparent.png', {:class=>'walmart_logo'}
      Consumer Analytics Dashboard

    %ul#top-nav.nav
      %li.active.relevance-tab
        %a{:href=>'#'}
          Relevance Analysis
      /      
        %li.explore-tab
          %a{:href=>'#'}
            Competitive Analysis

      %li.query-comparison-tab
        %a{:href=>'#'}
          Query Performance Analysis
      
      %li.search-tab
        %a{:href=>'#'}
          Search

    %ul.nav.pull-right
      %li.date-week-holder
      %li{:style=>'margin-right: 1em'}
        %i#dp3.icon-th{:style=>'line-height:2em; font-size:1.5em; color: white;', 'data-date-format'=>'mm-dd-yyyy'}
      /    
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown"}
              %i.icon-user>
               #{session[:user_id]} 
              %b.caret
            %ul.dropdown-menu.pull-right
              %li
                = link_to 'Settings', :controller => 'dept_analysis/user_prefs',
                    :action => :index
              %li
                %a{:href => "https://jira.kosmix.com/browse/MODULATOR", 
                :target => "_blank"} Report Bug
              %li
                %a{:href => "/user/logout"} Log Out
        - else
          - if params[:action] != 'login'
            %li
              %a{:href => "/user/login"} Log In

