#middle-content
  .date-picker-container
    #dp3.input-append.date{'data-date-format' => 'mm-dd-yyyy',
      'data-date-autoclose' => 'true', 'data-date-todayBtn'=>'true'}
      %input.span2{:size=>16, :type=>:text, :value=>'08-05-2013',
        :readonly=>true}
        %span.add-on
          %i.icon-th
  %ul.nav.nav-tabs
    %li.active
      %a{:href=>'#'}
        %span
          Search Quality Queries
  #search_quality_queries
  #query_items_tab
  .tab_children

