form.form-horizontal.walmart-items-form
  .control-group
    .pull-right
      input.input-small.start-date.datepicker(type='text', 'data-date-format'='M d, yyyy',
        'data-date-autoclose'='true')
      | &nbsp;
      | to
      | &nbsp;
      input.input-small.end-date.datepicker(type='text', 'data-date-format'='M d, yyyy',
        'data-date-autoclose'='true')
      | &nbsp;
      | &nbsp;
      span.label.label-info.white-label-btn#label-popular-items-over-time 
        a Popular Items Over Time
      | &nbsp;
      | &nbsp;
      span.label.label-info.white-label-btn#label-top-32-daily 
       a Reset