ul.nav.nav-tabs
  li.active.search-stats-tab
    a(href="#") Overview 
  li.search-amazon-items-tab
    a(href="#") Comptetive Analysis
  li.rev-rel-tab
    a(href="#") Relevance Best Seller Analysis
  li.search-walmart-items-tab
    a(href="#") Walmart Results Analysis
  li.cvr-dropped-item-comparison-tab
    a(href="#") Item Showed Comparison for Query
