.second-navbar
  .navbar-inner
    if title
      if title.length > 12
        - title = title.slice(0,10) + '...'
      span.brand.title
        = title
    ul.nav
      li.search-stats-tab
        a(href="#")
          span Overview 
      li.search-walmart-items-tab
        a(href="#")
          span Walmart Results Analysis
      li.search-amazon-items-tab
        a(href="#")
          span Competitive Analysis
      li.rev-rel-tab
        a(href="#")
          span Relevance Best Seller Analysis
      li.cvr-dropped-item-comparison-tab
        a(href="#")
          span Relevance Comparison
