ul.nav.nav-tabs
  li.active.search-stats-tab
    a(href="#") Query Statistics
  li.search-walmart-items-tab
    a(href="#") Items Shown in Search Results
  li.search-amazon-items-tab
    a(href="#") Amazon Walmart Comparison
