.second-navbar(style="position:relative;")
  .navbar-inner
    ul.nav
      li.search-stats-tab
        a(href="#")
          span Overview 
      li.rev-rel-tab
        a(href="#")
          span Relevance Best Seller Analysis
      li.search-walmart-items-tab
        a(href="#")
          span Walmart Results Analysis
      li.search-amazon-items-tab
        a(href="#")
          span Competitive Analysis
      li.cvr-dropped-item-comparison-tab
        a(href="#")
          span Relevance Comparison
  img.ajax-loader(src='/assets/ajax_loader.gif', style="display:block;")
