ul.nav.nav-tabs
  li.active.search-stats-tab
    a(href="#") Query Trend
  li.search-amazon-items-tab
    a(href="#") Comptetive Analysis
  li.search-walmart-items-tab
    a(href="#") Walmart Search Results
  li.rev-rel-tab
    a(href="#") Relevance Revenue Analysis
