ul.nav.nav-tabs
  li.active.pp-stats-tab
    a(href="#") Statistics
  li.pp-walmart-items-tab
    a(href="#") Items Shown in Search Results
  li.pp-amazon-items-tab
    a(href="#") Amazon Walmart Comparison
