<table id="search_quality_dailies-table">
  <tr>
    <th>Id</th>
    <th>Query str</th>
    <th>Query date</th>
    <th>Query count</th>
    <th>Search rev rank correlation</th>
    <th>Ctr ranks</th>
    <th>Top ctr item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
