.modal.hide.fade
  .modal-header
    button.close(type='button',data-dismiss='modal', aria-hidden='true')
      &times;
    | Widget Header
  .modal-body
    p This is where the body goes
  .modal-footer
    a.btn(href='#')
      | close
    a.btn.btn-primary(href='#')
      | Save Changes
