Customer feedback from #{@customer_name}
- equal_signs = ''
- @customer_name.size.times do
  - equal_signs += '='
- equal_signs += '======================='

Description
\===========
= @descripton

URL Of the Page
\===============
= @url

Browser Information
\===================
= @browser_info

Thank you

Feedback agent
