if top_cat_id && top_cat_id != 0
  li.go-up-cat
    a.cat-click-go-up(data-cat_id = top_cat_id, data-cat_name=top_cat_name)
      i.icon-chevron-left
      span
        if top_cat_name.length > 20
          - top_cat_name = top_cat_name.substr(0, 20) + '..'
        = top_cat_name
  li.divider

- console.log(sub_categories);
each sub_cat in sub_categories
  li.cat-link-parent
    span.outer   
      a.cat-click(data-cat_id = sub_cat.c_category_id)
        - var cat_name = sub_cat.c_category_name
        if cat_name && cat_name.length > 20
          - cat_name = cat_name.substr(0, 20) + '..'
        = cat_name
      if show_nav
        i.cat-link-child.icon-chevron-right(data-cat_id = sub_cat.c_category_id, data-cat_name = sub_cat.c_category_name)

if sub_categories.length == 0 
  li.cat-link-parent
    span.outer No sub categories
