li.go-up-cat
  span.parent
    if parseInt(parent_cat.cat_id) != 0
      i.icon-chevron-left.cat-go-up(data-grant_parent_cat_id = grant_parent_cat.cat_id)
    a.cat-click(data-cat_id = parent_cat.cat_id)
      if parent_cat.cat_name.length > 20
        - top_cat_name = parent_cat.cat_name.substr(0, 20) + '..'
      else
        - top_cat_name = parent_cat.cat_name
      = top_cat_name

li.divider

each sub_cat in sub_categories
  li.cat-link-parent
    span.outer   
      a.cat-click(data-cat_id = sub_cat.c_category_id)
        - var cat_name = sub_cat.c_category_name
        if cat_name && cat_name.length > 20
          - cat_name = cat_name.substr(0, 20) + '..'
        = cat_name
      if show_nav
        i.cat-link-child.icon-chevron-right(data-cat_id = sub_cat.c_category_id, data-cat_name = sub_cat.c_category_name)

if sub_categories.length == 0 
  li.cat-link-parent
    span.outer No sub categories
      
      
