li.cat_header
  if top_cat_id != 0 
    a.cat_go_back.pull-left(href='#')
      i.icon-hand-left(id="cat_" + top_cat_id)
        
    a.cat_click(id="cat_" + top_cat_id)
      = top_cat_name 
  else
    = top_cat_name

- for(var i=0; i<sub_categories.length; i++)
  - var sub_cat = sub_categories.at(i)
  li.cat_link_parent
    span.outer   
      a.cat_click(id = "cat_" + sub_cat.get('c_category_id'))
        = sub_cat.get('c_category_name')
      if sub_cat.is_parent 
        i.cat_link_child.icon-chevron-right(id="cat_" + sub_cat.get('c_category_id'))
          span(style = 'display:none;')= sub_cat.get('c_category_name')
      else 
        i.icon-chevron-right.icon-white(style = 'color:white;')
  
if sub_categories.length == 0 
  li.cat_link_parent
    span.outer No sub categories
