.second-navbar
  .navbar-inner
    a.brand(href="#") Conv-Relevance Details
    ul.nav
      li.active
        a.distribution(href="#")
          span
            |Query Distribution
      li
        a.winners(href="#")
          span
            |Winners
      
      li
        a.timeline(href="#")
          span
            |Timeline
