.second-navbar
  .navbar-inner
    a.brand(href="#")= title
    ul.nav
      li.active
        a.distribution(href="#")
          span
            |Query Distribution
      li
        a.timeline(href="#")
          span
            |Statistics
      li
        a.winners(href="#")
          span
            |Winners & Loosers
      
