.second-navbar
  .navbar-inner
    span.brand.title
      = title
    ul.nav
      li.active.distribution
        a(href="#")
          span
            |Query Distribution
      li.timeline
        a(href="#")
          span
            |History
