.second-navbar
  .navbar-inner
    a.brand(href="#")= title
    ul.nav
      li.active.distribution
        a(href="#")
          span
            |Query Distribution
      li.timeline
        a(href="#")
          span
            |History
