.second-navbar
  .navbar-inner
    a.brand.go-back-sm(href="#")
      i.icon-arrow-left
      |&nbsp; Summary Metrics
    a.brand(href="#")= title
    ul.nav
      li.active.distribution
        a(href="#")
          span
            |Query Distribution
      li.timeline
        a(href="#")
          span
            |History
