td= score
td(class=change>0?'green-change':'red-change')
  span.pull-right
    | &nbsp;
    if change>0 
      i.icon-arrow-up.green-change
    else
      i.icon-arrow-down.red-change
  span.pull-right.metric-change
    = change
    |%
td.metric-queries
  if queries && queries.length > 0
    each query in queries
      a(href='#')= query
      |,&nbsp
    a(href='#')
      |more...
  else
    |--
