.second-navbar
  .navbar-inner
    a.brand(href="#") NDCG Details
    ul.nav
      li.active
        a(href="#")
          span Query Distribution
      li
        a(href="#")
          span Winners and Loosers
      li
        a(href="#")
          span Over Time
