- s_formatter = JST['backbone/templates/metric_formatter']
- u_formatter = JST['backbone/templates/metric_unit_formatter']
.overview-all
  .col-head
    .name.metric-name Metric
    each segment, segment_id in segments
      if segment.path == 'all_queries'
        - continue
      .segment-name
        - seg_link = '#search/' + segment.path + '/page/overview'
        a(href=seg_link)
          = segment.name

  each metric_cat in metrics
    if !metric_cat.metrics
      - continue
    .info(class=metric_cat.class)
      = metric_cat.name
    .metric(class=metric_cat.class)
      each metric, metric_id in metric_cat.metrics
        if !metric
          - continue
        - m_obj = metrics_name[metric_id]
        if !m_obj
          - continue
        div(class=[m_obj.id, 'mrow'])
          .name.metric-name
            if m_obj && m_obj.name
              = m_obj.name
            else
              | Name not known
          each segment, segment_id in segments
            if segment.path == 'all_queries'
              - continue
            if metric[segment_id]
              - score = metric[segment_id].value
            else if metric['ALL QUERIES']
              - score = metric['ALL QUERIES'].value
              - segment_id = 'ALL QUERIES'
            else
              - score = 'N/A'
            .score.numerical-col
              if score == 'N/A'
                span.na-query
                  = 'N/A'
              else if score || score == 0
                - slink = '#search/' + segment.path + '/page/' + m_obj.id
                != s_formatter({m_obj:m_obj, metric_details:metric[segment_id], slink:slink})
              else
                |&nbsp;
            .unit
              if score && score != 'N/A'
                != u_formatter({m_obj: m_obj, metric_details:metric[segment_id]})
              else
                |&nbsp;
