- intFormatter = new Backgrid.NumberFormatter({decimals: 0})
- numFormatter = new Backgrid.NumberFormatter()
- numForm3Decimals = new Backgrid.NumberFormatter({decimals: 4})
.overview
  .col-head
    .name Metric
    .score.numerical-col Score
    .change.numerical-col
      |Change
      if segment && segment.match(/trend_\d+/)
        span(style='font-size:14px')
          |in 1 day
      else
        span(style='font-size:14px')
          |in 7 days

    .significant Significant 
    .top Top Opportunities
  each metric_cat in metrics
    if metric_cat.metrics.length == 0
      - continue
    .info(class=metric_cat.class)
      a(href='#')
        i.icon-resize-horizontal
        |&nbsp;
        = metric_cat.name
    .metric(class=metric_cat.class)
      each metric in metric_cat.metrics
        if !metric
          - continue
        - m_obj = view.metrics_name[metric.name]
        if !m_obj
          - continue
        div(class=[m_obj.id, 'mrow'])
          .name.metric-name
            a(href='#', style='text-transform:capitalize;')
              if m_obj && m_obj.name
                = m_obj.name
              else
                | Name not known
          .score.numerical-col
            if metric.score == 'N/A'
              = 'N/A'
            else if metric.score
              if ['traffic', 'revenue'].indexOf(metric.name)>-1
                = intFormatter.fromRaw(metric.score)
              else if m_obj.id == 'queries_session'
                = numForm3Decimals.fromRaw(metric.score)
              else
                = numFormatter.fromRaw(metric.score)
            else
              |&nbsp;
          if metric.change > 0
            - class_name = 'green-change'
          else
            - class_name = 'red-change'
          div(class=[class_name, 'numerical-col', 'change'])
            span.pull-right
              if metric.change>0 
                i.icon-arrow-up.green-change
              else if metric.change<=0
                i.icon-arrow-down.red-change
            span.pull-right.metric-change
              if metric.change == 'N/A'
                span(style='margin-right:18px')
                  |N/A
              else
                = numFormatter.fromRaw(metric.change)
                |%
          .significant
            if metric.confidence == true
              i.icon-thumbs-up.green-change
            else
              | &nbsp;

          .top.metric-queries
            if !metric.queries || metric.queries.match(/N\/A/i)
              |N/A
            else if metric.queries && metric.queries.match(/\w+/)
              each query, index in metric.queries.split(',')
                if index == 0
                  a(href='#')= query
                else
                  |,&nbsp;
                  a(href='#')
                    = query
              a(href="#")
                |&nbsp;...
