table.table.table-condensed
  caption.metrics-summary-head Metrics Summary
    
  tbody
    tr.metrics-col-head
      td Metric
      td(style='text-align:right') Change
      td Sample Queries
    each metric in metrics
      tr(class=metric.id)
        td.metric-name
          a(href='#')
            = metric.name
        td
          span.pull-right.metric-change --
        td --
