.form-submission-results.alert
  a.close(href="#")
    &times;
  .success-div
    h4 Job Requested Successfully!
      span.succes &nbsp;ID is &nbsp;
      span.job-id
  .error-div
    h4 Please try again! &nbsp;
      span.error

.form-engine-comp
  form.form-horizontal.engine-comp(role="form", method="get")
    .control-group
      label.control-label Polaris 1
      .controls
        select.engine-names
          option(value='select_engine') Select an Engine
        span.label URL
        input.engine(type="text", placeholder="URL for Polaris Engine 1")
        span.label Switch
        input.switch(type="text", placeholder="switches=switch_name:off")
    
    .control-group
      label.control-label(for="engine_2) Polaris 2 
      .controls
        select.engine-names
          option(value='select_engine') Select an Engine
        span.label URL
        input.engine(type="text", placeholder="URL for Polaris Engine 2")
        span.label Switch
        input.switch(type="text", placeholder="switches=switch_name:on")
    
    .control-group
      .controls
        button.btn.btn-default.submit(type="submit") Submit
        button.btn.btn-default.reset(type="reset") Reset



