.form-submission-results.alert
  a.close(href="#")
    &times;
  .success-div
    h4 Job Requested Successfully!
      span.succes &nbsp;ID is &nbsp;
      span.job-id
  .error-div
    h4 Please try again! &nbsp;
      span.error

.form-engine-comp
  form.form-horizontal.engine-comp(role="form", method="get")
    .control-group
      label.control-label Polaris 1
      .controls
        select.engine-names
          option(value='select_engine') Select an Engine
        span.label URL
        input.engine(type="text", placeholder="URL for Polaris Engine 1")
        span.label Switch
        input.switch(type="text", placeholder="switches=switch_name:off")
    
    .control-group
      label.control-label(for="engine_2) Polaris 2 
      .controls
        select.engine-names
          option(value='select_engine') Select an Engine
        span.label URL
        input.engine(type="text", placeholder="URL for Polaris Engine 2")
        span.label Switch
        input.switch(type="text", placeholder="switches=switch_name:on")
    
    .control-group
      label.control-label(for="query_set) Query Sets
        br
        span.label-select-help (Upto 3 Sets)
      .controls
        select.query-sample(multiple="multiple")
          option(value='select_query_sample') Select a Query Sample
        .help-text-block
          .link-control
            a(href="#")
          .help-text-contents    
            .query-set
              span.title TOP QUERIES
              span.body Top 2000 Queries as determined by daily query traffic
            .query-set
              span.title TREND_d
              span.body Set of 500 Queries ranked by rise in traffic over d-day period compared to d-days before. These Queries are trending up over d-day period
            .query-set
              span.title DROP_CON_n_WK
              span.body Set of 500 Queries ranked by traffic and drop in conversion over n weeks compared to n weeks before
            .query-set
              span.title POOR QUERIES IN 30 DAYS
              span.body Queries (limited to 1000) with high traffic but low conversion in last 30 days
            .query-set
              span.title POOR_QUERIES_AMAZON
              span.body Queries with high traffic, high assortment gap (compared to Amazon) and low conversion in last 30 days
            .query-set
              span.title TYPICAL_QUERY
              span.body A representative sample of 500 Queries that capture the distribution of queries along the Head, Torso, and Tail based on past 30 days data


    .control-group
      .controls
        button.btn.btn-default.submit(type="submit") Submit
        button.btn.btn-default.reset(type="reset") Reset
