form.form-inline.item-selection
  |Select upto 4 Items &nbsp;
  i.icon-hand-down &nbsp;&nbsp;
  button.btn.btn-small.do-sig-comp(type="button") Compare Signals
  |&nbsp;
  span.label.sig-comp-msg.label-warning
    |Select ateast 1 item to compare

  .recommended-holder.pull-right
    label.show-rec-items.checkbox
      input.missed-items(type="checkbox", checked=true)
      |Show Recommeded Items

  br
  a.item-uncheck(href="uncheck_items") Uncheck All Items
