.hero-unit.rel-best-seller-label
  span Top 16 Relevance Items and Recommended Items
  .from-search-engines.pull-right
    span Get Items from &nbsp;
    if engine_names.length > 0
      select
        option(value='select_engine') Select an Engine
        each engine_name in engine_names
          option(value=engine_name_url_map[engine_name])= engine_name
      |&nbsp;
      button.btn.get-items Go
      |&nbsp;
      button.btn.reset-get-items Reset
    else
      select(disabled=true)
        option List Not Available
      |&nbsp;
      button.btn.get-items(disabled=true) Go!

form.form-inline.item-selection
  |Select upto 4 Items &nbsp;
  i.icon-hand-down &nbsp;&nbsp;
  button.btn.btn-small.do-sig-comp(type="button") Compare Signals
  |&nbsp;
  span.label.sig-comp-msg.label-warning
    |Select ateast 1 item to compare

  .recommended-holder.pull-right
    label.show-rec-items.checkbox
      input.missed-items(type="checkbox", checked=true)
      |Show Recommeded Items

  br
  a.item-uncheck(href="uncheck_items") Uncheck All Items
