- var intFormatter = new Backgrid.NumberFormatter({decimals: 5})
- var item_width = '' + 846.0/items.length + 'px'
- var item_signal = JST['backbone/templates/item_signal']

.sig-comp-table
  .col-head
    .srow
      .name Signal Name
      each item in items
        .item(style='width:' + item_width)
          if !item.image_url
            .encloser
              a(href='http://www.walmart.com/ip/' + item.item_id, target='_blank')
                if item.title
                  = item.item_title
                else
                  = item.item_id
          else
            .encloser
              a(href='http://www.walmart.com/ip/' + item.item_id, target='_blank')
                img.item-image(src=item.image_url)
                br
                .title= item.title
          table.table.table-condensed
            tr
              td Position
              td
                if item.in_top_16 == 0 && item.position
                  span.label.label-important Recommended
                else if item.position || item.position == 0
                  = item.position 
                else
                 | N/A
            tr
              td Orders
              td
                if item.orders || item.orders == 0
                  = item.orders
                else
                  | N/A
            tr
              td Final Score
              td
                - var fs = 'reranked.final.score'
                - var fs_value = 0
                if item.signals_json && item.signals_json[fs] && item.signals_json[fs].v 
                  - fs_value = parseFloat(item.signals_json[fs].v)
                    = intFormatter.fromRaw(fs_value)
                else
                  | N/A


  .signal-section
    if signals_sorted.length > 0
      ul
        each signal in signals_sorted
          - var max_stack = 100
          != item_signal({signal: signals[signal.id], item_ids: item_ids, item_width: item_width, max_stack: max_stack})
    else
      .srow
        .no-data No Data Available
        
