- intFormatter = new Backgrid.NumberFormatter({decimals: 4})
- item_width = '' + 80.0/items.length + '%'
.sig-comp-table
  .col-head
    .srow
      .name Signal Name
      each item in items
        .item(style='width:' + item_width)
          if !item.image_url
            .encloser
              a(href='http://www.walmart.com/ip/' + item.item_id, target='_blank')
                if item.title
                  = item.item_title
                else
                  = item.item_id
          else
            .encloser
              a(href='http://www.walmart.com/ip/' + item.item_id, target='_blank')
                img.item-image(src=item.image_url)
                br
                .title= item.title
          table.table.table-condensed
            tr
              td Position
              td
                if item.in_top_16 == 0 && item.position
                  span.label.label-important Recommended
                else if item.position || item.position == 0
                  = item.position 
                else
                 | N/A
            tr
              td Orders
              td
                if item.orders || item.orders == 0
                  = item.orders
                else
                  | N/A

  .signal-section
    each signal in signals
      .srow
        .name= signal.name
        each item in items
          - good_score = false
          .score.numerical-col(style='width:' + item_width)
            if item.signals_json && item.signals_json[signal.id] && item.signals_json[signal.id].v
              if item.signals_json[signal.id].max
                good_score = true
              - value = parseFloat(item.signals_json[signal.id].v)
              - score = intFormatter.fromRaw(value)
            else
              - score = '-'
            if good_score
              i.icon-star &nbsp;
              span.green-change(style='font-weight: bold')
                = score
            else
              span
                = score
