- intFormatter = new Backgrid.NumberFormatter({decimals: 4})
- item_width = '' + 80.0/items.length + '%'
.sig-comp-table
  .col-head
    .srow
      .name Signal Name
      each item in items
        .item(style='width:' + item_width)
          if !item.image_url
            .missing-img &nbsp;
            = item.item_id
          else
            a(href='http://www.walmart.com/ip/' + item.item_id, target='_blank')
              img.item-image(src=item.image_url)
              br
              .title= item.title
          table.table.table-condensed
            tr
              td Position
              td
                if item.in_top_16 == 0 && item.position
                  span.label.label-info Recommended
                else if item.position
                  = item.position 
                else
                 | N/A
            tr
              td Orders
              td
                if item.orders
                  = item.orders
                else
                  | N/A

  .signal-section
    each signal in signals
      .srow
        .name= signal.name
        each item in items
          - good_score = false
          .score.numerical-col(style='width:' + item_width)
            if item.signals_json && item.signals_json[signal.id] && item.signals_json[signal.id].length > 0
              if item.signals_json[signal.id].indexOf(true) != -1
                good_score = true
              - score = intFormatter.fromRaw(item.signals_json[signal.id][0])
            else
              - score = ''
            if good_score
              i.icon-star &nbsp;
              span.green-change(style='font-weight: bold')
                = score
            else
              span
                = score
