.second-navbar
  .navbar-inner
    ul.nav
      if tab == 'winners'
        li.loosers
          a(href="#", style='padding-left: 0px')
            span
              |Opportunities
        li.winners.active
          a(href="#")
            span
              |Winners
      else
        li.active.loosers
          a(href="#", style='padding-left: 0px')
            span
              |Opportunities
        li.winners
          a(href="#")
            span
              |Winners
