ul.nav.nav-pills
  li.active
    a(href  ='#')
      Show All
  li
    a(href  ='#')
      Conversion Rate
  li
    a(href = "#")
      Product Review Rate
  li 
    a (href = "#")
      Add to Cart Rate