/*
*= require_self
*= require backgrid
*= require backgrid-extensions/backgrid-paginator
*= require datepicker
*= require feedback-master/feedback.min

/* bootstrap overrides.. */

// $navbarBackground: #007796;
// $navbarBackgroundHighlight: #008dd4;
// $navbarLinkColor: #FFF;
// $navbarLinkColorHover: #B3B3B3;
// $navbarLinkColorActive: #FFF;

@import "bootstrap";
@import "font-awesome";
@import "bootstrap-responsive";
@import "backgrid";
@import 'searchad.css.scss';
@import 'cvr_dropped_query.css.scss';
@import 'query_monitoring.css.scss';

td.numerical {
	text-align: right;
	vertical-align: middle;
}

a i:hover {
	text-decoration: none;
	cursor: pointer;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url('font/BebasNeue.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

div[class="tooltip-inner"] {
    text-align: left;
    margin-bottom: 6px;
    white-space: pre-wrap;
    font-size: 12px;
    max-width: 250px;
}
