.cvr_dropped_query_grid{
  th{
    max-width:200px
  }
  td{
    max-width:200px
  }
}

.query-dropped-item-comparison{

	th:nth-child(3)
{
    background-color: #F0F8FF;
}

	th:nth-child(4)
{
    background-color: #F0F8FF;
}


	tr td:nth-child(3)
{
    background-color: #F0F8FF;
}

	tr td:nth-child(4)
{
    background-color: #F0F8FF;
}
}

