.cvr-dropped-query-grid{
  border-collapse: collapse;
  thead th {

    vertical-align: bottom;
    background-color: #f9f9f9;
    font-weight: bold;
    cursor: pointer;
  }
  th, td{
    height: 20px;
    max-width: 220px;
    padding: 4px 5px;
    overflow: hidden;
    line-height: 20px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #DDD;
    display: table-cell;
  }

  .number-cell, .integer-cell {
    text-align: right;
  }
  table{
    border-spacing: 2px;
    border-color: gray;
  }
}

.cvr-dropped-selected-result{
  margin-top:10px
}

.query_search_clear_icon{
  display: inline; 
  position: relative; 
  left: -20px; 
  cursor: pointer; 
  display: none; 
  color: grey;
}

.selected_date_range_text{
  font-size:12px;
  color:grey;
  font-style:italic;

}

.white-label-btn {
  padding: .5em;
  margin-top: -2.5em;
  cursor: pointer;
  a {
    color: white;
  }
}

.cvr-dropped-query-results-label{
  font-size:20px;
  margin-top:20px;
  margin-bottom:20px;
  #font-weight:bold;
}

#cvr-dropped-query-results.backgrid td{
  max-width: 200px
}

.query-dropped-item-comparison{

  th:nth-child(4)
    {
      background-color: #F0F8FF;
    }

  th:nth-child(5)
    {
      background-color: #F0F8FF;
    }

  tr td:nth-child(4)
    {
      background-color: #F0F8FF;
    }

  tr td:nth-child(5)
    {
      background-color: #F0F8FF;
    }
}

