.cvr-dropped-query-results-label{
  font-size:20px;
  margin-top:50px;
  margin-bottom:20px;
  #font-weight:bold;
}

li.cvr-dropped-item-comparison{
 # display:none
}

#cvr-dropped-query-results.backgrid td{
  max-width: 200px
}

.query-dropped-item-comparison{

	th:nth-child(3)
{
    background-color: #F0F8FF;
}

	th:nth-child(4)
{
    background-color: #F0F8FF;
}


	tr td:nth-child(3)
{
    background-color: #F0F8FF;
}

	tr td:nth-child(4)
{
    background-color: #F0F8FF;
}
}

